@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.background{
    background-image: url('../assets/img/background-discover.png');
    background-color: rgb(43, 43, 43);
    background-size: cover;
}

.banner_explicativo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text_discover1{
    color: rgb(255, 255, 255);
    font-size: 23px;
    padding-top: 30px;
    font-family: 'Ubuntu', sans-serif;
}
.text_discover2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 65%;
    height: 60vh;
    margin-bottom: 30px;
    color: rgb(100, 43, 114);
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
}
/* --------------------------------FORMULARIO-------------------------------- */
.container_form{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.box_form{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
    box-shadow: 0 0 3em rgb(57, 43, 70);
    border-radius: 20px;
    width: 65%;
    padding-bottom: 30px;
}
.titulo_form{
    font-size: 18px;
    line-height: 50px;
    font-weight: 800;
    font-family: 'Ubuntu', sans-serif;
}

.box_img_etapa1{background-image: url('../assets/img/img-etapa1.png'); background-size: cover; width: 40vw; height: 43vh; border-radius: 20px;}
.box_img_etapa2{background-image: url('../assets/img/img-etapa2.jpeg'); background-size: cover; width: 40vw; height: 43vh; border-radius: 20px;}
.box_img_etapa3{background-image: url('../assets/img/img-etapa3.png'); background-size: cover; width: 40vw; height: 43vh; border-radius: 20px;}
.box_img_etapa4{background-image: url('../assets/img/img-etapa4.png'); background-size: cover; width: 40vw; height: 43vh; border-radius: 20px;}
.box_img_etapa5{background-image: url('../assets/img/img-etapa5.png'); background-size: cover; width: 40vw; height: 43vh; border-radius: 20px;}

.label_radio{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-image: linear-gradient(45deg, rgb(197, 197, 197),rgb(165, 165, 165)); */
    background-color: rgb(177, 177, 177);
    margin-top: 19px;
    width: 40vw;
    height: 10vh;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: all 0.50s;
}

input[type="radio"]:checked{
    width: 20px;
    height: 20px;
}
.label_radio:hover{
    cursor: pointer;
    /* background-image: linear-gradient(45deg, rgb(44, 23, 71),rgb(138, 116, 151)); */
    background-color: rgb(44, 23, 71);
    color: #fff;
}

.label_radio p {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 10px;
}
.area_button{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.area_button button{
    background-color: rgb(44, 23, 71);
    width: 10vw;
    height: 6vh;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    color: aliceblue;
    cursor: pointer;
    transition: 1s;
}
.area_button button:hover{
    transform: scale(1.1);
}

.loading-div {
    width: 50px;
    margin: auto;
    display: none;
}
.loading-div img {
    height: 50px;
    width: 50px;
}

.box_img_resultado_tradicional{background-image: url('../assets/img/Estilo-tradicional.png'); background-size: cover; width: 40vw; height: 43vh; border-radius: 20px;}
.box_img_resultado_elegante{background-image: url('../assets/img/Estilo-elegante.png'); background-size: cover; width: 40vw; height: 43vh; border-radius: 20px;}
.box_img_resultado_esportivo{background-image: url('../assets/img/Estilo-esportivo.png'); background-size: cover; width: 40vw; height: 43vh; border-radius: 20px;}