/* ----------------------------- NAVBAR (HEADER) ------------------------------------------------------------------------ */
/* ---- @ Media Queries ---------- */
@media (max-width: 850px) {

    /* -----Media querie usada para aplicar um estilo em determinada resolução------ */
    .header .container {
        border-radius: 0px !important;
        transition: 1s;
    }
}
/*-------------------------SCROLLBAR--------------------------------*/
body::-webkit-scrollbar {
    width: 14px; /*Largura da Barra de rolagem */
  }
  
  body::-webkit-scrollbar-track {
    background: #ffffff; /* Cor da Raiz Principal da Barra de Rolagem */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(99, 51, 117); /* Cor do scroll Thub */
    border-radius: 20px; /* Curvatura do Scroll thumb */
    border: 3px solid #825e91; /*Criar uma Borda com cor no Scroll thumb*/
  }

/*---Estilizando o elemento pai da navegação---*/
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 110px;
    font-size: 16px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 80px 80px;
    transition: 1s;
}

/*---Estilizando os itens da navegação---*/
.logo {
    padding-top: 10px;
    margin-left: 10px;
}

.navbar1 {
    display: flex;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}

.navbar2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #000000;
    list-style: none;
}

.navbar1 li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar2 li {
    text-align: center;
}

/*---Estilizando as Ancoras dos Itens da navegação---*/
.navegacao1 a {
    text-decoration: none;
    color: #000;
    margin-left: 60px;
}

.navegacao2 a {
    text-decoration: none;
    color: #000;
    margin-right: 10px;
    margin-left: 10px;
}

.pagina_atual {
    color: rgb(53, 30, 88) !important;
    font-weight: bolder;
}

/*---Colocando efeito ao passar o cursor nos itens da navegação---*/
.header .container a:hover {
    color: rgb(53, 30, 88);
    font-weight: bolder;
}

.pipe {
    cursor: default;
    transition: 1s;
}
.pipe:hover {
    transform: rotate(360deg);
}

/* ----------------------------- RODAPÉ (FOOTER)------------------------------------------------------------------------ */

.footer{
    background-color: rgba(255, 255, 255, 0);
}
.footer .container{
    /* border-radius: 50px 50px 0px 0px; */
    background-image: linear-gradient(rgb(31 31 31), rgb(0, 0, 0));
    padding: 30px 0px 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer .container a{
    color: #fff;
    text-decoration: none;
    line-height: 30px;
    font-size: 14px;
    transition: 0.50s;
}
.footer .container a:hover{
    color: rgb(255, 232, 131);
}
.itens_redesSociais{
    margin-bottom: 19px;
}
.effect_scale{
    margin: 0px 9px 0px 9px;
    transition: 0.30s;
}
.effect_scale:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.links_rodape{
    color: #fff;
}
.text_direitos{
    color: #fff;
    font-size: 15px;
    margin-top: 20px;
}