body{
    background-image: url('../assets/img/background-login.png');
    background-size: cover;
    background-color: #fff;
}
/*-------------------------SCROLLBAR--------------------------------*/
body::-webkit-scrollbar {
    width: 14px; /*Largura da Barra de rolagem */
  }
  
  body::-webkit-scrollbar-track {
    background-color: #fff; /* Cor da Raiz Principal da Barra de Rolagem */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(128, 102, 93); /* Cor do scroll Thub */
    border-radius: 20px; /* Curvatura do Scroll thumb */
    border: 3px solid #c6a989; /*Criar uma Borda com cor no Scroll thumb*/
  }
  
.banner_area{
    margin: 0;
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.container_login_cadastro{
    display: flex;
    height: 80vh;
    border-radius: 40px;
    box-shadow: 0 0 1em black;
}

.box_login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px 0px 0px;
    background-color: rgba(255, 255, 255, 0.787);
    width: 25vw;
    border-radius: 40px 0px 0px 40px;
    color: rgb(50, 50, 50);
}
.text{
    font-weight: 800;
    text-align: center;
    font-size: 19px;
}
.box_cadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.838);
    width: 45vw;
    border-radius: 0px 40px 40px 0px;
    color: white;
}
.title{
    text-align: center;
}
.area_das_inputs input, select{
    width: 27vw;
    height: 5vh;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 255, 255);
    outline: none;
}
.div_input, .div_select{
    padding: 7px 0px 7px 0px;
}


/* -----------Aviso no final do cadastro------------- */
.div_ajuda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div_ajuda a{
    text-decoration: none;
    color: #e8c8a6;
    font-weight: bolder;
    transition: all 0.40s;
}
.div_ajuda a:hover{
    transform: scale(1.1);
}
.div_ajuda span{
    padding-top: 30px;
    padding-bottom: 8px;
}
/* ---------------------------------- ----------*/


.button_lc{
    width: 10vw;
    height: 6vh;
    border-radius: 10px;
    border: none;
    transition: all 0.60s;
    background-color: rgb(163, 131, 119);
    color: #fff;
    font-weight: bolder;
}
.button_lc:hover{
    cursor: pointer;
    border-radius: 40px;
    transform: scale(1.1);
}
